
<div class="div">
  <h2>Create a new Drone!!</h2>


<form action="/drones/create" method="POST">
  <label for="drone-name">Name:</label>
  <input type="text" name="name" required>

  <label for="drone-propellers">Propellers:</label>
  <input type="number" name="propellers" min="0" max="50" required>

  <label for="drone-maxspeed">Max Speed:</label>
  <input type="number" name="maxSpeed" min="0" max="50" required>

  <button type="submit">Create</button>
</form>
</div>

<div class="div2">
  <a href="/drones">Back</a>
</div>
